::selection {
    background-color: transparent;
    color:#7c7cfe;
}
    html, body {
height: 100%;
}
body {
margin: 0;
}
.flex-container {
height: 100%;
width: 100%;
padding: 0;
margin: 0;
display: flex;
align-items: center;
justify-content: center;
background-color: #111111;
}
.row {
width: 100%;
height: auto;
display:flex;
flex-wrap: wrap;
justify-content: center;
}

.flex-item {
padding: 5px;
color: white;
text-align: center
}
#textcontainer {
font-family: Impact, fantasy;
font-size: calc(5vw + 5vh);
flex-basis: max-content;
margin-top:3rem;
}
#datecontainer, 
#tempcontainer, 
#tempchange {
    font-size: calc(1vw + 1vh);
    font-style: italic;
    font-family: monospace;
}
#datecontainer {
    color: #4caf50;
}
#tempcontainer {
    color: #5757bd;
}
#tempchange {
    color: #4caf50;
}
.teleprompt {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    background-color: white;
}
.teleprompt .flex-item{
    height: auto;
    float:left;
    white-space: nowrap;
}

.scroll-left {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background: blue;
}
.scroll-left .flex-item {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 font-family: monospace;
 color:white;
 /* Starting position */
 transform:translateX(100%);
 /* Apply animation to this element */
 animation: scroll-left 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
 0%   {
 transform: translateX(100%); 		
 }
 100% {
 transform: translateX(-100%); 
 }
}
