html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-color: #111111;
}
a {
  color:white;
}
.flex-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.flex-menu {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.row {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-item {
  padding: 5px;
  color: white;
  text-align: center;
}
.row .flex-item {
  font-size: calc(1.8vw + 2.2vh);
  font-weight: 100;
}

#textcontainer {
  font-family: sans-serif;
  flex-basis: max-content;
  z-index: 1024;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: calc(4.5vw + 4.5vh);
}
.blockchain-link,
.my-link,
.consecutive-link,
.weather-link {
 display:inherit;
 margin: 5px 5px;
 z-index: 99;
}

.blockchain-link a,
.consecutive-link a {
  padding: 8px 20px;
}

.my-link a,
.weather-link a {
  padding: 8px 18px;
}

.blockchain-link a,
.my-link a,
.consecutive-link a,
.weather-link a {
  font-size: calc(1.75vw + 1.05vh);
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 0px;
  font-weight: bolder;
  background-color:#111111;
}
.blockchain-link a:hover,
.my-link a:hover,
.consecutive-link a:hover,
.weather-link a:hover {
  color: black;
  background-color: white;
  border-radius: 28px;
  transition: all 0.5s ease-in-out;
}
.blockchain-link a,
.consecutive-link a,
.weather-link a,
#datacontainer {
  font-family: sans-serif;
}

#datacontainer a:hover {
  background-color: white;
  color: darkviolet;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 0.5s ease-in-out;
}

.my-link a {
  font-family: Times;
}
@media (max-width: 763px) {
  .bottom-left {
    font-size: calc(4.5vw + 4.55vh) !important;
  }
  .blockchain-link a,
  .consecutive-link a {
    border: 2px solid white;
    padding: 10px 18px;
  }
  .my-link a,
  .weather-link a {
    border: 2px solid white;
    padding: 10px 16px;
  }
}

.absent::selection {
  color: red;
}
.present::selection {
  color: #4caf50;
}
.warmer {
  color: #ffcccc;
}
.cooler {
  color: #b3fffb;
}

.teleprompt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.teleprompt .flex-item {
  font-size: calc(2.05vw + 2.15vh);
  float: left;
  white-space: nowrap;
}

.scroll-left {
  height: 8vh;
  overflow: hidden;
  position: relative;
  background-color: darkviolet;
  border-top: 2px solid #111111;
}
.scroll-left .flex-item {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  /* Starting position */
  transform: translateX(100%);
  /* Apply animation to this element */
  animation: scroll-left 30s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@media (max-width: 420px) {
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-555%);
    }
  }
}

.no-dis {
  display: none;
}

.rotate {
animation: spin 24s infinite linear;
height: 50vw;
width: 50vw;
max-width:100vh;
max-height:100vw;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@media (max-width: 763px) {
  .rotate {
    width: 100vw;
    height:100vw;
  }
  text {
    font-size: calc(1.75vw + 1.75vh) !important;
  }
}

.svgcontainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow: hidden;
  place-items: center;
  position: absolute;
  top:0;
}

.silentNav {
  font-family: sans-serif;
  color:white;
  display: inherit;
    margin: 5px 5px;
    z-index: 99;
}