    /* defines margin for the main content */
    body {
        margin-top: 0%;
        margin-left:0%;
    }

    .grey-bg {
        background-color: lightgrey;
    }
    /* defines styles for div */
    div.textColor {
        
        font-size:1vh;
        word-wrap: break-word;
        border-radius: 0px;
        margin:calc(0.5vw + 1vh);
        padding:10px;
        text-align: center;
    }

    .textColor a{
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 3rem;
        text-decoration:none;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size:calc(2vw + 1.5vh);
    }
    .textColor:active {
        opacity:0.333;
        cursor:pointer;
    }
    div.flexbox {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: calc(90vh - 6rem);
        align-content: center;
        padding: 3rem;
        width: calc(90vw - 6rem);
        margin: 5vh 5vw 5vh 5vw;
    }

    .textColor:hover{

        filter: invert(0%);
    }

    .page-link {
        border-radius:30px;
    }

    h1 {
        transform-origin: top left;
        position: fixed;
        top: 0vh;
        left: 7vw;
        font-size: calc(2.5vw + 2.5vh);
        transform: rotate(90deg);
    }